fastapi>=0.110.0
uvicorn>=0.28.0
motor>=3.3.2
minio>=7.2.5
pydantic>=2.6.0
python-dotenv>=1.0.1
celery>=5.3.6
redis>=5.0.3
pypdf>=4.1.0
langchain-text-splitters>=0.0.1
langchain-huggingface>=0.0.1
sentence-transformers>=2.5.1
pinecone>=3.2.1